<footer class="footer-innovant">
	<img src="/images/logo.png" alt="Logo" class="footer-logo" />
	<div class="footer-content">
		<h3>Let's Connect!</h3>
		<p>Passionate Software Engineer | Building digital solutions with creativity and code.</p>
		<div class="footer-social">
					<a href="https://github.com/ALABENSALEMDBS" target="_blank" aria-label="GitHub">
						<i class="fab fa-github"></i>
					</a>
					<a href="https://www.linkedin.com/in/ben-salem-ala/" target="_blank" aria-label="LinkedIn">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="https://www.instagram.com/bensalemala22?igsh=NTEyZDdsc3hsbHpk" target="_blank" aria-label="Instagram">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="https://www.facebook.com/ala.ben.salem.678337" target="_blank" aria-label="Facebook">
						<i class="fab fa-facebook"></i>
					</a>
		</div>
		<p class="footer-copy">&copy; 2025 Ala Ben Salem. All rights reserved.</p>
	</div>
</footer>
